@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}
.advantage{
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
}
.resonTitle{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.resonSubtitle{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;
}
.advantage_personal{
    width:450px;
    text-align: center;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.advantage_range{
    width:450px;
    text-align: center;

}

.advantage_quality{
    width:450px;
    text-align: center;
    
}

.advantage_personal-title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.advantage_range-title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.advantage_quality-title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.advantage_subtitle{
    line-height: 30px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
}